[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "third_party/isa-l"]
	path = third_party/isa-l
	url = https://github.com/intel/isa-l
[submodule "third_party/rocksdb"]
	path = third_party/rocksdb
	url = https://github.com/facebook/rocksdb
